<h1>Dashboard</h1>

<button class="create border bg-slate-500 m-3">Create</button>
<button class="update border bg-slate-500 m-3">Update</button>
<button class="delete border bg-slate-500 m-3">Delete</button>
<button class="get border m-3 bg-slate-500">Get</button>