<header class="h-60 bg-red-500">
  <h1 class="text-center">
    <span class="text-green-400">{{firstName}}</span>
    <span class="text-green-400">{{count}}</span>
    <span class="text-yellow-400">{{lastName}}</span>
  </h1>
</header>